# Data types and Structure

1. What are data structures, and why are they important?
  
  -> A data structure is a way to store and organize data in a computer so that it can be used multiple times.

2.  Explain the difference between mutable and immutable data types with examples?
  
 -> In mutable data types where we can alter the data when need, but we can't do this alter in immutable data types.

 mutable are list, set, dictionary
 immutbles are Tuples

In [1]:
#EXample for Mutables
list = [1,2,3,4,5]
list[4]=6
print(list)

[1, 2, 3, 4, 6]

In [2]:
#Example for Immutables
Colours = ('Blue','Orange','Green')
Colours[3] = 'Red'
print(Colours)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

 -> list are mutable and tuples are Immutable

 List is described in [], Tuples in ()

4. Describe how dictionaries store data
  
  -> Dictionary stores the data in the KEY:VALUE Format.

In [4]:
#Dictonary Example
Dict_1 = {'name':'GK','Country':'India'}
print(Dict_1)

{'name': 'GK', 'Country': 'Indai'}

5.  Why might you use a set instead of a list in Python?

  ->Because set allows only unique values not duplicates and also it is used for checking membership and these things cannot be executed in list.

6. What is a string in Python, and how is it different from a list?

 -> String can be a single charter or group of characters, but the List is the collection of different types of data.

In [7]:
# Example for string
str = ['a','b','c','India']
print(str)

['a', 'b', 'c', 'India']

In [8]:
# Example for List
list = [1,"gk", 2.1, True, 3+4j]
print(list)

[1, 'gk', 2.1, True, (3+4j)]

7.  How do tuples ensure data integrity in Python?

  ->A tuple is an immutable data structure in Python, And its values cannot be changed after creation. This immutability helps ensure data integrity by preventing modifications.

9.  Can lists contain different data types in Python?

  ->Yes, List can contain different type of data in it.

In [11]:
List1 = [1, 2.1, True, 'A', 2+3j]
print(List1)

[1, 2.1, True, 'A', (2+3j)]

10. Explain why strings are immutable in Python?

  -> The strings (str) are immutable, Because they cannot be changed after creation. If we modify a string, a new string is created instead of changing the original one.

11. What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries and lists are both used to store collections of data, but dictionaries offer several advantages over lists for certain tasks.
  - We can access the data faster in dictionary rather than in list.

12.  Describe a scenario where using a tuple would be preferable over a list?

  -> A tuple is preferable over a list when you need to store fixed, unchangeable data that should remain constant throughout the program.

  -> Example - Cordinates are fixed that cannot be changed, so if want to describe the data and it should be not changed than we can use tuples.

13. How do sets handle duplicate values in Python?

 -> It helps to eliminate the duplicate values

In [12]:
# Example for eliminating duplicate values
list = [1,1,1,2,2,3,3,3,3]
r = set(list)
print(r)

{1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries?

  -> It goes checking with in the form of linear way (slower), But in Dictionary it directly checks with key value.

In [14]:
#Example for list checking
num = [10,20,30,40,50]
print(10 in num)

True

In [15]:
#Example for Dictionary Checking
student_rank = {"Alice": "1", "Bob": "2", "Charlie": "3"}

print("Alice" in student_rank)

True

15.  Can you modify the elements of a tuple? Explain why or why not

  -> No, We cant modify the elements in tuple, Because we use the tuple type of data for Fixed/Unchangeable type of data or Immutable type of data.

16. What is a nested dictionary, and give an example of its use case?

 -> Nested dictionary means a dictionary inside a dictionary.

In [17]:
# Example for Nested dictionary
dict = {'gk':{'age':25,'Country':'India','role':['Analyst']}}
print(dict['gk']['age'])
print(dict['gk']['role'])

25
['Analyst']

18.   In what situations are lists preferred over dictionaries?

 -> list are prefered when we Need Indexed Access, and when Duplicates Are Needed,and when sorting is required and data is small.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 -> In list the data is retrived in the form of indexing, but in dictionary we should call the data by raising a key.

In [18]:
# Data retreiving in list
list = [1,2,3,4,5]
print(list[1])

2

In [24]:
# data calling in dictionary
dict = {'name':'gk','Country':'USA'}
print(dict['Country'])

USA

# Practical Questions

In [25]:
# 1. Write a code to create a string with your name and print it.
str = 'Girish'
print(str)

Girish

In [29]:
# 2. Write a code to find the length of the string "Hello World"?
str2 = "Hello World!!"
print(len(str2))

13

In [30]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
str3 = "Python Programming"
print(str3[0:3])

Pyt

In [33]:
# 4. Write a code to convert the string "hello" to uppercase?
str4 = "hello"
str4.upper()

'HELLO'

In [35]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str5 = "I like apple"
print(str5)
str5.replace('apple','ornage')

I like apple

'I like ornage'

In [36]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [38]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [39]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [40]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list4 = ['a','b','c','d']
print(list4[1])

b

In [41]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]?
list5 = [10,20,30,40,50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [42]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?
T1 = (100,200,300)
print(T1)

(100, 200, 300)

In [44]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
T2 = ('red', 'green', 'blue', 'yellow')
print(T2[-2])

blue

In [1]:

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10,20,5,15)
print(min(num))

5

In [2]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
T4 = ('dog','cat','rabbit')
print(T4.index('cat'))

1

In [3]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [11]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

In [12]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
print(set.clear())

None

In [14]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [15]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set2 = {1,2,3}
set3 = {4,5,6}
print(set2.union(set3))

{1, 2, 3, 4, 5, 6}

In [16]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set4 = {1,2,3}
set5 = {2,3,4}
print(set4.intersection(set5))

{2, 3}

In [18]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {'name':'gk', 'age':25, 'city':'NY'}
print(dict)

{'name': 'gk', 'age': 25, 'city': 'NY'}

In [20]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict1 = {'name':'John','age':25}
dict1['country'] ='USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict2 = {'name':'Alice','age':30}
dict2['name']

'Alice'

In [24]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3.pop('age')
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict4 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict4:
    print('city present in the dictionary')
else:
    print('city not present')

city present in the dictionary

In [28]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all
list4 = [1,2,3,4]
T5 = (5,6)
dict7 = {'Country':'India'}
print(list4)
print(T5)
print(dict7)

[1, 2, 3, 4]
(5, 6)
{'Country': 'India'}

In [29]:
# 28.  Write a code to create a list with strings and print the element at the third index.
colour = ['red','blue','green','yellow']
print(colour[3])

yellow

In [30]:
# 29.  Write a code to combine two dictionaries into one and print the result
dict8 = {'name':'gk'}
dict9 = {'city':'India'}
print(dict8 | dict9)

{'name': 'gk', 'city': 'India'}